@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
body {
  margin: 0px;
  background: lightblue;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(127, 127, 127, 0.6);
}
::-webkit-scrollbar-track {
  opacity: 0;
}
body > div.flex-parent {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: auto;
  max-width: 100% !important;
}
div.flex-parent > .flex-box {
  /*display: inline-flex;*/
  padding: 1.5rem;
  border-radius: 1.7rem;
  background-color: #434343;
  color: white;
  font-family: "Comfortaa";
  font-weight: 400;
  flex-grow: 1;
  margin: 0.5rem;
}

.flex-box.time {
  display: block !important;
  height: 10rem !important;
  width: 25rem;
  font-size: 8rem;
  line-height: 8rem;
  flex-grow: 1;
  flex-basis: 20rem;
}
.flex-box .time-align::after {
  content: "AM";
  font-size: 0.25em;
}
.time-align {
  vertical-align: middle;
  height: 8rem;
  text-align: center;
  line-height: 10.5rem;
  /*transform: translateX(-1rem);*/
}
.flex-box.weather {
  text-align: center;
  height: 10rem;
  max-width: 10rem;
}
.weather.top > i {
  font-size: 6rem !important;
}
.weather.bottom {
  font-size: 4rem;
  height: 50%;
  margin: 0px;
  padding: 0.5rem;
}
.weather.bottom .weather-align::after {
  content: "\00B0";
}
.weather-align {
  text-align: center;
}
.flex-box.news {
  /*
    display: flex !important;
    flex-direction: column;
    flex-basis: content;
    */
  height: 14rem !important;
  padding: 0px !important;
  max-height: max-content;
  min-width: 15rem;
  background: transparent !important;
  margin: 0px !important;
  flex-grow: 3;
  flex-basis: 20rem;
}
.news.top,
.news.bottom {
  height: 5rem;
  display: block !important;
  padding: 0.5rem;
  background: #434343;
  border-radius: 1.7rem;
  margin: 0.5rem;
}
.news .bottom {
  margin-top: 1rem;
  margin-bottom: 0px;
}
.news img {
  border-radius: 1.3rem;
  float: left;
  height: 100%;
}
.news .description,
.news .title {
  display: block !important;
  padding: 1rem;
  margin-left: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .title {
  text-transform: capitalize;
  white-space: nowrap;
  text-align: left;
  padding-bottom: 0.3rem;
  padding-top: 0.4rem;
}
.news .description {
  font-size: 0.8rem;
  padding-top: 0px;
  color: #ccc;
  max-height: 1.7rem;
}
.flex-box.calender {
  min-width: 15rem;
  max-width: 30rem;
  height: 10rem;
  padding: 0.5rem !important;
}
.calendar.bell {
  background: #efefef !important;
  width: 45%;
  height: 100%;
  border-radius: 1.2rem;
}
.calendar.bell-icon {
  color: #434343;
  position: relative;
  font-size: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-box,
.flex-parent {
  flex-flow: row !important;
}
.flex-parent {
  flex-wrap: wrap !important;
  /*justify-content: space-evenly;*/
  justify-content: space-between;
}

.flex-box.spotify {
  padding: 0.5rem !important;
  /*
  max-width: 30rem;
  min-width: 7rem;
  */
  height: 12rem !important;
  flex-basis: 10rem !important;
  flex-grow: 1 !important;
  flex-shrink: 10 !important;
}
.flex-box.spotify > iframe {
  height: 100% !important;
  border-radius: 1.5rem;
  width: -webkit-fill-available;
  height: 100%;
}
.material-icons {
  user-select: none;
}
/*
.flex-box.spotify {
  padding: 0rem !important;
}

@media (max-width: 50rem) {
  body {
    background: green !important;
  }
}
*/
