@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
body {
  margin: 0px;
  background: lightblue;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(127, 127, 127, 0.6);
}
::-webkit-scrollbar-track {
  opacity: 0;
}
body > div.flex-parent {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: auto;
  max-width: 100% !important;
}
div.flex-parent > .flex-box {
  /*display: inline-flex;*/
  padding: 1.5rem;
  border-radius: 1.7rem;
  background-color: #434343;
  color: white;
  font-family: "Comfortaa";
  font-weight: 400;
  flex-grow: 1;
  margin: 0.5rem;
}

.flex-box.time {
  display: block !important;
  height: 10rem !important;
  width: 25rem;
  font-size: 8rem;
  line-height: 8rem;
  flex-grow: 1;
  flex-basis: 20rem;
}
.flex-box .time-align::after {
  content: "AM";
  font-size: 0.25em;
}
.time-align {
  vertical-align: middle;
  height: 8rem;
  text-align: center;
  line-height: 10.5rem;
  /*transform: translateX(-1rem);*/
}
.flex-box.weather {
  text-align: center;
  height: 10rem;
  max-width: 10rem;
}
.weather.top > i {
  font-size: 6rem !important;
}
.weather.bottom {
  font-size: 4rem;
  height: 50%;
  margin: 0px;
  padding: 0.5rem;
}
.weather.bottom .weather-align::after {
  content: "\00B0";
}
.weather-align {
  text-align: center;
}
.flex-box.news {
  /*
    display: flex !important;
    flex-direction: column;
    flex-basis: content;
    */
  height: 14rem !important;
  padding: 0px !important;
  max-height: max-content;
  min-width: 15rem;
  background: transparent !important;
  margin: 0px !important;
  flex-grow: 3;
  flex-basis: 20rem;
}
.news.top,
.news.bottom {
  height: 5rem;
  display: block !important;
  padding: 0.5rem;
  background: #434343;
  border-radius: 1.7rem;
  margin: 0.5rem;
}
.news .bottom {
  margin-top: 1rem;
  margin-bottom: 0px;
}
.news img {
  border-radius: 1.3rem;
  float: left;
  height: 100%;
}
.news .description,
.news .title {
  display: block !important;
  padding: 1rem;
  margin-left: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .title {
  text-transform: capitalize;
  white-space: nowrap;
  text-align: left;
  padding-bottom: 0.3rem;
  padding-top: 0.4rem;
}
.news .description {
  font-size: 0.8rem;
  padding-top: 0px;
  color: #ccc;
  max-height: 1.7rem;
}
.flex-box.calender {
  min-width: 15rem;
  max-width: 30rem;
  height: 12rem !important;
  padding: 0.5rem !important;
  display: inline-flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
.flex-box.calender > div {
  flex-wrap: nowrap !important;
  flex-flow: nowrap !important;
}
.calendar.bell {
  background: #efefef !important;
  flex-basis: 7rem !important;
  flex-grow: 0 !important;
  flex-shrink: 1;
  height: 100%;
  border-radius: 1.2rem;
}
.calendar.bell-icon {
  color: #434343;
  position: relative;
  font-size: 5rem;
  height: 5rem !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar.events {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  text-align: center !important;
  display: block !important;
  margin: 0.5rem !important;
  margin-right: 0px !important;
}
.calendar.event-break {
  height: 1rem !important;
  width: 100%;
}
.calendar.events .calendar.event {
  margin-bottom: 0.3rem;
  height: fit-content;
  width: 100%;
}
.flex-box,
.flex-parent {
  flex-flow: row !important;
}
.flex-parent {
  flex-wrap: wrap !important;
  /*justify-content: space-evenly;*/
  justify-content: space-between;
}

.flex-box.spotify {
  padding: 0.5rem !important;
  /*
  max-width: 30rem;
  min-width: 7rem;
  */
  min-height: 12rem !important;
  flex-basis: 10rem !important;
  flex-grow: 1 !important;
  flex-shrink: 10 !important;
}
.flex-box.spotify > iframe {
  height: 100% !important;
  border-radius: 1.3rem;
  width: -webkit-fill-available;
  height: 100%;
}
.material-icons {
  user-select: none;
}
/*
.flex-box.spotify {
  padding: 0rem !important;
}

@media (max-width: 50rem) {
  body {
    background: green !important;
  }
}
*/
.flex-box.simplify-aeries {
  height: 30rem !important;
  flex-basis: 40rem !important;
  flex-grow: 1 !important;
  padding: 0px !important;
}
.flex-box.simplify-aeries .break {
  flex-basis: 100%;
  height: 0;
}
.simplify-title {
  background: #1c4587;
  text-align: center !important;
}
.simplify-aeries,
.simplify-aeries > div {
  flex-flow: nowrap !important;
  flex-basis: 20rem !important;
  text-align: center;
  flex-grow: 1 !important;
}
.simplify-aeries {
  display: flex !important;
}
.simplify-aeries.quick-check {
  flex-basis: 20rem;
  border-right: lightgrey 0.1rem solid;
}
.simplify-aeries.schedule > .simplify-title,
.simplify-aeries.schedule {
  border-top-right-radius: 1.7rem;
}
.simplify-aeries.schedule {
  border-bottom-right-radius: 1.7rem;
}
.simplify-aeries.quick-check {
  border-bottom-left-radius: 1.7rem;
}
.simplify-aeries.quick-check > .simplify-title,
.simplify-aeries.quick-check {
  border-top-left-radius: 1.7rem;
  text-align: center !important;
}
.simplify-aeries > div {
  height: 100%;
}
.simplify-title {
  position: relative !important;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, -50%);
  width: 100% !important;
  display: block !important;
  line-height: 4rem !important;
  height: 4rem !important;
  font-size: 1.4rem;
}
.simplify.list {
  position: relative;
  margin: 0.5rem;
  background: #555 !important;
  height: 25rem;
}
.schedule .simplify.list {
  border-bottom-right-radius: 1.3rem !important;
}
.quick-check .simplify.list {
  border-bottom-left-radius: 1.3rem !important;
}
.flex-parent > .flex-parent {
  flex-flow: column !important;
  display: flex !important;
  flex-basis: 30rem;
  flex-grow: 1 !important;
}
.flex-parent > .flex-parent > div {
  flex-basis: 100%;
}
.flex-box.tech-stories {
  padding: 0px !important;
  display: block !important;
  /*padding-top: 1rem !important;*/
  flex-basis: 30rem !important;
  flex-grow: 2 !important;
}
.tech-stories > .tech-story {
  border-bottom: solid lightgrey 0.1rem;
  display: block !important;
  margin: 0.25rem 0;
  padding-bottom: 0.5rem;
  text-align: left;
  padding: 0.25rem;
  padding-left: 0.5rem !important;
  padding-bottom: 0.5rem;
  height: 5rem;
  /*line-height: 3rem;*/
}
.tech-story img.source-img {
  padding-left: 0px !important;
  margin-left: 0px !important;
  border-radius: 0 1.3rem 1.3rem 0;
  float: left;
  height: 100%;
}
.tech-story div.content .tech-story:first-child img.source-img {
  border-top-left-radius: 1.3rem !important;
}
.tech-story:last-child img.source-img {
  border-bottom-left-radius: 1.3rem !important;
}
/*optional*/
.tech-story img.source-img {
  border-radius: 1.3rem !important;
}
/*end optional*/
.tech-story.content {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  overflow: hidden !important;
}

.tech-story .description {
  font-size: 0.8rem;
  padding-top: 0.3rem;
  color: #ccc;
  max-height: 1.7rem;
}
/*

.tech-story .title {
  text-transform: capitalize;
  white-space: nowrap;
  text-align: left;
  display: block !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
/*
.tech-stories.stories {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
}
*/
.tech-stories > .tech-story:last-of-type {
  border-bottom: none !important;
  margin-top: 0 !important;
  padding-bottom: 0.25rem !important;
}
@media (max-width: 40rem) {
  .flex-box.weather {
    max-width: unset !important;
    flex-grow: 1 !important;
    display: inline-flex;
    padding-left: 0px !important;
  }
  .weather-overview {
    padding-right: 15%;
    padding-left: 15%;
  }
  .flex-box.weather .weather-info {
    display: inline-block !important;
  }
  .simplify-title {
    font-size: 1.2rem !important;
  }
}
.weather-info {
  height: 100%;
  border-left: lightgrey solid 0.1rem;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  /*
  padding-left: 1rem;
  margin-left: 1rem;
  */
  padding-left: 7%;
  padding-right: 7%;
  text-align: left !important;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.weather-info > .vertical-center > div {
  padding: 0.4rem 0rem;
}
.weather-info .location::before {
  content: "Location: ";
}
.weather-info .high-temp::before {
  content: "High: ";
}
.weather-info .low-temp::before {
  content: "Low: ";
}
.weather-info .low-temp i::after,
.weather-info .high-temp i::after {
  content: "\00B0";
}
.weather-info .humidity::before {
  content: "Humidity: ";
}
.weather-info .humidity i::after {
  content: "%";
}
.location i.city::after {
  content: ", ";
}
.location i.city {
  text-transform: capitalize;
}
.location i.state {
  text-transform: uppercase;
}
